/**
 * Custom theme
 */

/* Emerald Light scheme (Default) */
/* Can be forced with data-theme="light" */
[data-theme="light"],
:root:not([data-theme="dark"]) {
	--primary: #50c878;
	--primary-hover: #0c7c31;
	--primary-focus: rgba(216, 27, 96, 0.125);
	--primary-inverse: #fff;
}

/* Emerald Dark scheme (Auto) */
/* Automatically enabled if user has Dark mode enabled */
@media only screen and (prefers-color-scheme: dark) {
	:root:not([data-theme]) {
		--primary: #50c878;
		--primary-hover: #0c7c31;
		--primary-focus: rgba(216, 27, 96, 0.25);
		--primary-inverse: #fff;
	}
}

/* Emerald Dark scheme (Forced) */
/* Enabled if forced with data-theme="dark" */
[data-theme="dark"] {
	--primary: #50c878;
	--primary-hover: #0c7c31;
	--primary-focus: rgba(216, 27, 96, 0.25);
	--primary-inverse: #fff;
}

/* Emerald (Common styles) */
:root {
	--form-element-active-border-color: var(--primary);
	--form-element-focus-color: var(--primary-focus);
	--switch-color: var(--primary-inverse);
	--switch-checked-background-color: var(--primary);
}
